$base-text-color: rgb(33, 33, 33);
$dark-text-color: rgb(0, 0, 0);
$light-text-color: rgb(75, 75, 75);

$base-background-color: rgb(244, 244, 244);
$dark-background-color: rgb(200, 200, 200);
$light-background-color: rgb(255, 255, 255);

$color-blue: rgb(79, 202, 214);
$color-green: rgb(105, 213, 12);
$color-red: rgb(249, 43, 75);
$color-yellow: rgb(255, 255, 44);
$color-orange: rgb(241, 97, 7);
$color-purple: rgb(160, 2, 230);
