<div class="user-show">
	<h1 style="text-align: center"><%= current_user.username %></h1>
	<% current_user.characters.each do |char| %>
			<div class="character-item">
				<%= link_to char.name, character_path(char.id) %>
				<%= char.get_description%>
			</div>
	<% end %>
</div>
